
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import 'tailwindcss' layer(utilities);
@import 'tailwindcss/utilities' layer(utilities);
@import 'tailwindcss/utilities' layer(utilities);

.chewy-regular {
  font-family: "Chewy", cursive, system-ui;
  font-weight: 400;
  font-style: normal;
}